---
/**
 * * About section
 */

import profileImage from "@assets/images/portrait_016_1_h_sw.jpg";
import { Image } from "astro:assets";
---

<section id="about" class="site-container scroll-mt-10 py-8 md:py-12">
	<div class="flex flex-col md:flex-row">
		<div class="md:w-2/3">
			<h2 class="h3 text-primary-500 text-pretty uppercase">About me</h2>
			<h3 class="h2 mt-4 normal-case">Hi, I'm Moritz.</h3>
			<div class="bg-base-100 mt-8 p-8 md:mb-20 lg:text-lg">
				<p>
				Born in Heidelberg, raised in Stuttgart and Munich – I now live and work in Baden-Baden. My passion for photography started at the age of 16 and has never stopped since. Whether it is the beauty of a foreign city, the emotion of a wedding day, the character in a portrait, or the visual representation of a brand or property – I try to capture images that tell a story.
				</p>
				<p class="mt-4">
				My work covers Travel, Documentary, Street, Portraits and Weddings – as well as Real Estate and Corporate photography.
				</p>
				<div class="flex w-3/4 justify-end">
					<p class="font-heading-1 text-3xl italic">- Moritz</p>
				</div>
			</div>
		</div>
		<div class="mr-auto max-w-md md:w-1/3 md:max-w-none">
			<div class="my-auto aspect-[3/4] w-full overflow-hidden">
				<Image
					src={profileImage}
					alt="Moritz Kaiser"
					width={450}
					densities={[1.5, 2]}
					class="h-auto min-h-full w-full min-w-full object-cover"
				/>
			</div>
		</div>
	</div>
</section>
