---
// components
import Contact from "@components/Contact/Contact.astro";
import PortfolioGrid from "@components/Portfolio/PortfolioGrid.astro";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";

const portfolios = await getCollection("portfolios", ({ data }) => {
	// filter out draft pages
	return data.draft !== true;
});
---

<BaseLayout title="Portfolio – Moritz Kaiser" description="A selection of work by Moritz Kaiser.">
	<div class="site-container pt-24 md:pt-36">
		<div class="mx-auto max-w-6xl text-center">
			<h1 class="h2 text-pretty uppercase">
				Portfolio
			</h1>
			<p class="description mt-4 text-lg">A selection of work.</p>
		</div>
		<PortfolioGrid portfolios={portfolios} />
	</div>

	<Contact class="mt-12" />
</BaseLayout>
